{% extends 'accounts/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
	<h1>Sign up</h1>
	<form is="iron-form" method="post" id="id_form">
		{% csrf_token %}
		<gold-email-input label="Email" name="email" id="id_email" required auto-validate></gold-email-input>
		<paper-input name="password" label="Password" type="password" required auto-validate min-length="5"></paper-input>
		<paper-button id="id_submit" raised onclick="id_form.submit()" disabled="true">Sign up</paper-button>
	</form>
	<script>
		id_form.addEventListener('change', function(e) {
			id_submit.disabled = !id_form.validate();
		});
	</script>
	<!-- <form action="" method="post">{% csrf_token %}
		<table class="fieldwrapper">
			<tbody>
				{% for field in form %}
					<tr>
						<td>{{ field.label_tag }}</td>
						<td>{{ field }}</td>
						<td>{{ field.errors }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table> -->
		<!-- <input id="id_submit" type="submit" value="Sign up" disabled="true"> -->
	</form>
{% endblock %}